@{
    ViewBag.Title = "Form";
}

<style>
    .bot {
        padding-top: 10px;
        padding-left: 50%;
    }
</style>

<h2>Компании</h2>

    <table>
        <caption>
            Список компаний
        </caption>
        <tr>
            <th>Идентификатор</th>
            <th>Имя компании</th>
            <th>Работников, чел.</th>
            <th>Деятельность</th>
            <th>Организационно-правовая форма</th>
            <th></th>
            <th></th>
        </tr>
        
            <tr>
                <th>sdfs</th>
                <th>sdfsd</th>
                <th>sdfs</th>
                <th>sdfsdf</th>
                <th>sdfsdf</th>
                <th>
                    <a href="/Company/EditCompany?id="><input type="submit" value="Редактировать" /></a>
                </th>
                <th></th>
            </tr>
        
    </table>
    <div class="bot">
        <center>
            <a href="/Company/AddCompany"><input type="submit" value="Добавить" /></a>
            <a href="/Company/AllDel"><input type="submit" value="Удалить все" /></a>
        </center>
    </div>


